.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    padding: 40px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.form input {
    outline: 0;
    background: var(--input-bgcolor);
    width: 100%;
    border: 0;
    padding: 1rem;
    font-size: 0.9rem;
	padding-inline: 0px;
}
.form input[type=radio] {
    width: 30px;
}
.form textarea {
    outline: 0;
    background: var(--input-bgcolor);
    width: 100%;
    border: 0;
    font-size: 0.9rem;
	resize: none;
	margin-bottom: 1rem;
}
.form button {
	min-width: 12rem;
    width: 20%;
}
.form .radioButton {
	margin: 20px;
}
.radioContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--input-bgcolor);
	font-size: 0.9rem;
	width: 100%;
}
.buttonContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	justify-items: stretch;
}
.row div {
	width: 100%;
	min-width: 20%;
}

.einwilligungContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-right: 1rem;
}

/* Styling for Checkbox */
.switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #6dcf18;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


@media screen and (max-width: 1450px) {
  .row {
	display: block;
  }
}
