:root{
    --first-color: #e5ecf1;
    --second-color: #a2a8d3;
    --third-color: #38598b;
    --fourth-color: #113f67;

	  --signal-color: #004177;
    --input-bgcolor: #f2f2f2;
}
html * {
	font-family: verdana, sans-serif;
	color: black;
}
body{
    background-color: #FFFFFF;
}
h1 {
	font-weight: 400;
	color: var(--signal-color);
	text-align: center;

}
.form button {
    text-transform: uppercase;
    outline: 0;
    background: var(--fourth-color);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: var(--third-color);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--first-color);
    padding: 2rem;
    margin-top: 3rem;
}
