:root{
    --first-color: #e5ecf1;
    --second-color: #a2a8d3;
    --third-color: #38598b;
    --fourth-color: #113f67;
	
	--signal-color: #004177;
    --input-bgcolor: #f2f2f2;
}

body{
    background-color: #fffff;
}