.navbar {
    width: 100%;
    background-color: var(--first-color);
    overflow: auto;
    border-bottom: solid 1px var(--second-color);
    border-top: solid 1px var(--signal-color);
}

.navbar a {
    float: left;
    padding: 12px;
    color: var(--signal-color);
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #6dcf18;
}

.active {
    background-color: var(--fourth-color);
    color: var(--first-color) !important;
}

@media screen and (max-width: 1100px) {
    .navbar a {
        float: none;
        display: block;
    }
}
