.navbar {
  width: 100%;
  background-color:var(--first-color);
  overflow: auto;
  border-bottom: solid 1px var(--second-color);
  border-top:solid 1px var(--signal-color);
}

.navbar a {
  float: left;
  padding: 12px;
  color: var(--signal-color);
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #6dcf18;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
